PUBLIC_SUPABASE_URL=https://auqydeyaxsfjjscalipr.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1cXlkZXlheHNmampzY2FsaXByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2NTk2NTQsImV4cCI6MjA5ODIzNTY1NH0.-lkYTLL5l0XwKAkiOwfjtkTkC7Dq1ZxX2DJc--_PNsM
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1cXlkZXlheHNmampzY2FsaXByIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjY1OTY1NCwiZXhwIjoyMDk4MjM1NjU0fQ.uxCHHg6mLJcadqSicvgUOeq4P3ea8iHv3xspbcLW820
